{{>menssagem}}


{{#each errosNaPagina}}
<div class="alert alert-danger">{{texto}}</div>
{{else}}

{{/each}}

<hr>
<div class="fundo">

<a href="/cadastrar"><button type="button" class="btn btn-info" id="botaoCadastrarIn">Cadastrar Recurso</button></a>
{{#if user}}
<a href="/logar" method="post"><button type="button" class="btn btn-outline-primary">Entrar</button></a>
{{else}}
<a href="/logout"><button type="button" class="btn btn-outline-primary" id="btnIrEV"> Logout</button></a>

{{/if}}

  <hr>
<form action="/pesquisaRecurso" method="post">
<input type="search" name="status" class="form-control" placeholder="Pesquisar Recurso" id="barraPesquisa">
<button class="btn btn-light" type="submit" style="margin-top: 5px" id="btnPesquisarIn">Pesquisar</button>
<a href="/paginaP"><button type="button" class="btn btn-secondary btn-sm" style="margin-top: 5px" id="botaoLimpar">Limpar Seleção</button></a>
</form>
<hr>


<table class="table">
    <thead>
        <tr>
            <th scope="col">Id</th>
            <th scope="col">descrição</th>
            <th scope="col">Tipo</th>
            <th scope="col">Status</th>
            <th></th>
            <th scope="col">Data Inicial</th>
            <th scope="col">Data Final</th>
            
        </tr>
    </thead>

<tbody>
    {{#each recursos}}
   
    <tr>
        <th>{{id}}</th>
        <td>{{descricao}}</td>
        <td>{{tipo}}</td>
        <td>{{status}}</td>
        <td>
            <a href="/recursos/{{id}}"><button type="submit" class="btn btn-warning" >Editar</button></a>
            <a href="/removerRecurso/{{id}}"><button type="submit" class="btn btn-danger">Apagar</button></a>
        </td>
        <form action="/reservar/recurso/{{id}}" method="post">
        <td><input type="date" name="dataInicial"></td>
        <td><input type="date" name="dataFinal"></td>
         <td>
            <button type="submit" class="btn btn-secondary" >Reservar</button>
            
             </td>
             </form>
             <td>
                <fom action="/reservarRecurso">
                <button type="submit" class="btn btn-warning">Editar Reserva</button>
                </fom>
             </td>
       
    </tr>

    {{/each}}
</tbody>

</table>
<div class="d-flex justify-content-center">
                 <a href="/removerRecurso/:id"><button type="submit" class="btn btn-success" id="botaoApagarIn">Apagar Todos</button></a>
            </div>
            <hr>
            <div class="d-flex justify-content-center">
                 <a href="/"><button type="submit" class="btn btn-secondary btn-sm" id="botaoVoltarInicioIn">Voltar para Página Inicial</button></a>
            </div>
</div>